<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../css/responsive.css">
        <link rel="stylesheet" href="../css/responsive.css">
        <title>Lumiere</title>
    </head>

    <body>
        <a href='/gastos/registrar'><button>Gasto por dispositivo</button></a>
        <a href='/gastos/cadastrar'><button>Gasto por residencia</button></a>
        <a href='/relatorio/lista'><button>Relatorio</button></a>
    </body>
</html>