<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/selecionar_relatorio.css">
        <link rel="stylesheet" href="/css/responsive_selecionar_relatorio.css">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Urbanist&display=swap" rel="stylesheet">
        <title>Lumiere</title>
    </head>

    <body>
        <h1 class="h1">Aqui você encontra seus relatórios de controle!</h1>
      <p class="hr-1">Selecione a periodicidade desejada e mergulhe nas informações que<br> o ajudarão a tomar decisões mais conscientes e sustentáveis.</p>
      
      <div class="retangulo">
      	<div class="container">
		  	<p class="hr-2">Relatório semanal</p>
		  	<p class="texto-1">Acompanhe de perto o seu consumo de energia ao longo da semana. Identifique padrões, otimize o uso e mantenha o controle.</p>
		  	<a th:href="'/Relatorio/Semanal/'+${cdResidencia}">
				  <span class="btn-ver">Ver</span>
			</a>
	  	</div>
	  
	  	<div class="container">
		  	<p class="hr-2">Relatório mensal</p>
		  	<p class="texto-1">Obtenha insights mensais sobre seu consumo de energia. Analise tendências, estabeleça metas e tome decisões informadas para uma gestão mais eficiente.</p>
		  	<a th:href="'/Relatorio/Mensal/'+${cdResidencia}">
				  <span class="btn-ver">Ver</span>
			</a>
	  	</div>
	  
	  	<div class="container">
		  	<p class="hr-2">Relatório anual</p>
		  	<p class="texto-1">Planeje o futuro com o relatório anual de consumo. Visualize o desempenho ao longo do ano, identifique áreas de melhoria e promova uma utilização sustentável de energia.</p>
		  	<a th:href="'/Relatorio/Anual/'+${cdResidencia}">
				  <span class="btn-ver">Ver</span>
			</a>
	  	</div>
	  </div>
       <!-- -->
    </body>
</html>