<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css"/>        
        <link rel="stylesheet" href="/css/responsive_home.css"/>
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Urbanist&display=swap" rel="stylesheet">
        <title>Lumiere</title>
    </head>

    <body>
        <div id ="header">
            <div class="botao">
                <nav>
                    <a href="Usuario/Login" class="btn-entrar">Entrar</a>
                </nav>
            </div>
        </div>

        <div>
			<!--lampada folha 3d.png-->
            <img src="/img/Landing page/lampada folha 3d.png" class="lamp">
            <img src="/img/Landing page/estrela 3d.png" class="estrela">
            <img src="/img/PNG logo e logotipo/logotipo L branca.png" class="logo-horizontal">
            <p class="intro"> Empresa com soluções de otimização do uso de energia para tornar sua vida mais 
            eficiente e sustentável. Explore as possibilidades do futuro da tecnologia conosco!</p>
            <img src="/img/Landing page/estrela 3d.png" class="estrela-1">
            <img src="/img/Landing page/estrela 3d.png" class="estrela-2">
            <img src="/img/Landing page/estrela 3d.png" class="estrela-3">
            <p class="nos">Nos conheça</p>
        </div>
        
        <div>
            <h1>CONHEÇA A LUMIERE</h1>
            <p class="texto-1">Somos um serviço de monitoramento de consumo elétrico com ferramentas e  para que 
                você possa administrar  o consumo elétrico da sua residência  e poder controlar o  uso por dispositivo 
                te ajudando a reduzir o desperdício de energia. Nossa missão é capacitá-lo a tomar decisões diante do seu 
                consumo energético assim reduzindo seu impacto no meio ambiente e ainda economizando 
                dinheiro! Ao começarmos nossa jornada, será desempenhado um papel importante para a evolução de um futuro mais verde, 
                a sustentabilidade e a eficiência energética são as frentes para a preservação 
                ambiental, e assim, um uso mais responsável de energia.
            </p>
            <img src="/img/Landing page/mão celular grafico 3d.png" class="mao-celular">
        </div>

        <div>
            <img src="/img/Landing page/lampada amarela 3d.png" class="lampada">
            <img src="/img/Landing page/carteira 3d.png" class="carteira">
            <h2>ECONO</h2>
            <img src="/img/Landing page/mao segurando dinero 3d.png" class="mao-dinheiro">
            <h3>MIZE!</h3>
            <p class="texto-2">O Principal objetivo da Lumiere é fazer o que todo brasileiro gosta... <b>ECONOMIZAR!</b>
                A conta de energia é uma das responsabilidades comuns entre os adultos, o maior alarde nessa questão é:
            </p>
            <p class="texto-3"><b>você sabe gerenciar sua energia residencial para não tomar susto com a conta no fim do mês?
                Aqui na Lumiere a gente te ajuda!</b>
            </p>
            <p class="texto-4">Com nosso atendimento personalizado a cada estado sobre as taxas e tarifas em conjunto com nosso 
                gerenciamento de dados energéticos dos seus eletrônicos fornecidos, 
                te proporcionamos a paz da conta de luz inteligente. Não perca tempo e dinheiro, venha para Lumiere!
            </p>
            <img src="/img/Landing page/porquin rabin 3d.png" class="porco-direito">
            <img src="/img/Landing page/porquin cabeça 3d.png" class="porco-esquerdo">
        </div>

        <div>
            <h4>Como transformamos seus <span class="dados">dados</span> para</h4>
            <h5>retornar <span class="info">informações</span>?</h5>
            <p class="texto-5">O processo ocorre todo internamente no  nosso sistema que será alimentado por você caro usuário, 
                no momento do  seu cadastro na Lumiere, serão solicitados alguns dados de localização para análisar as taxas e tarifas próximas a você.
                Com o cadastro finalizado, começa nossa experiência energética com o Lumiere!
            </p>
            <img src="/img/Landing page/graficozin 3d.png" class="grafico">
            <p class="texto-6"> Você poderá registrar seus dispositivos a serem monitorados com suas devidas informações, 
                em conjunto aos dados fornecidos por você, os gerenciaremos integralmente para te mostrar informações com tabelas 
                e gráficos explicativos prezando pelo seu conhecimento e prezando sua autonomia em sua conta de luz.  
            </p>
            <img src="/img/Landing page/megafone 3d.png" class="fone">
        </div>

        <div>
            <img src="/img/Landing page/notificação 3d.png" class="sino">
            <img src="/img/Landing page/mão joia 3d.png" class="joia">
            <h6>Curtiu nossa proposta?</h6>
            <h7 class="h7">se torne membro e revolucione sua forma de economizar energia e dinheiro!</h7>
            <button type="button" class="cadastro"><a href="/usuario/cadastrar" class="cad">Cadastrar-se</a></button>
        </div>

        <footer>
            <p class="texto-7">Nos conheça nas redes!</p>
            <img src="/img/Footer/GitHub 3d.png" class="github">
            <img src="/img/Footer/Linkedin 3d.png" class="linkedin">
            <p class="texto-8">termos e condições</p>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="10%" height="225" viewBox="0 0 225 225" fill="none">
                    <g filter="url(#filter0_i_227_18)">
                    <circle cx="112.5" cy="112.5" r="112.5" fill="#00153F"/>
                    </g>
                    <circle cx="112.5" cy="112.5" r="112" stroke="black" stroke-opacity="0.07"/>
                    <defs>
                    <filter id="filter0_i_227_18" x="0" y="0" width="229" height="229" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="20" dy="7"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow_227_18"/>
                    </filter>
                    </defs>
                </svg>
                <img src="/img/PNG logo e logotipo/logo L branca.png" class="logo-footer">
            </div>
            <p class="texto-9">Encontrou algum problema?</p>
            <p class="texto-10">Nos contate pelo Email!</p>
            <p class="texto-11">Lumiere1234@gmail.com</p>
        </footer>
    </body> 
</html>