<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/responsive_login.css">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Urbanist&display=swap" rel="stylesheet">
        <title>Lumiere</title>
    </head>

    <body>
        <div>
            <img src="../img/PNG logo e logotipo/logo l esquerda.png" class="esquerda">
        </div>

        <div class="container">
            <div>
                <h1 class="h1">Entre na sua conta para começar <span class="economizar">economizar!</span> </h1>
				<form th:action="@{/usuario/entrar}" th:object="${usuario}" method="GET">
                    <input type="text" name="email" id="email" placeholder="E-mail" th:field="*{emailUsuario}">
                    <label for="email"></label>

                    <input type="text" name="senha" id="senha" placeholder="Senha" th:field="*{senhaUsuario}">
                    <label for="senha"></label>

                    <input type="checkbox" id="conectado">
                    <label for="conectado" class="check">Me mantenha conectado</label>

                    <input type="submit" id="submit" value="Entrar">
                    <label for="submit"></label>
                </form>

                <h2 class="h2">Ainda não faz parte do Lumiere?</h2>
                <h3 class="h3"><a href="../views/cadastro.html">Cadastre-se</a></h3>
            </div>
        </div>

        <div>
            <img src="../img/PNG logo e logotipo/logo l direita.png" class="direita">
        </div>
    </body>
</html>