<!--
	Apelido residencia
	Numero do registro
	Cidade
	Estado
	Endereco
-->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/responsive.css">
        <title>Lumiere</title>
    </head>
	
    <body>
        <h1>Cadastrar residência</h1>
        
		<tr th:each="i : ${iconesResidencia}">
			<img th:src="${i.urlIcone}" id="i.id" height="70px" width="70px">
		</tr>
		
		<br>
		
		<br>
		
        <select th:name="id" aria-label="Search">
            <option value="">Estado</option>
            <option th:each="e : ${estados}" th:value="${e.id}" th:text="${e.UFEstado}"></option>
        </select>
    </body>
</html>