<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lumiere</title>
    </head>
	
    <body>
        <h1>Detalhes residencia</h1>
		
	    <div>
	        <h3>kWh atual em SP:</h3>
	        <p>R$ 0,00</p>
	    </div>
	    
	    <div>
	        <h3>Consumo aproximado da sua fatura atual:</h3>
	        <p>R$ 0,00</p>
	    </div>
	    
	    <div>
	        <h3>Você gasta em média</h3>
	        <p>R$ 0,00</p>
	        <p>por dia</p>
	    </div>
	    
	    <div>
			<h2>Gestão de gasto atual</h2>
			<!--
				Gráfico
			-->
			<a href="#">
				<button type="button">Controle de Gastos</button>
			</a>
		</div>
		
		<div id="relatorioAnual">
		</div>
		
		<br>
		
		<a th:href="@{/Dispositivo/Cadastrar/{cdResidencia} (cdResidencia= ${cdResidencia})}">
			<button type="button">Adicionar</button>
		</a>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/chart.js/4.4.0/dist/chart.js"></script>
    <script src="/js/DetalhesResidenciaInitElements.js"></script>
    <script src="/js/DetalhesResidenciaRelatorioAnualGraph.js"></script>
</html>