<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>Lumiere</title>
    </head>
	
    <body>
        <h1>Detalhes residencia</h1>
		
	    <div>
	        <h3>kWh atual em SP:</h3>
	        <p>R$ 0,00</p>
	    </div>
	    
	    <div>
	        <h3>Consumo aproximado da sua fatura atual:</h3>
	        <p>R$ 0,00</p>
	    </div>
	    
	    <div>
	        <h3>Você gasta em média</h3>
	        <p>R$ 0,00</p>
	        <p>por dia</p>
	    </div>
	    
	    <div>			
			<canvas id="gasto-total-por-dispositivo" style="max-width: 600px; max-height: 400px;"></canvas>
			
			<p>Para mais detalhes e informações, acesse o </p>
			<a href="#">
				<button type="button">Controle de Gastos</button>
			</a>
		</div>
		
		<br>
		
		<div id="relatorioAnual">
		</div>
		
		<br>
		
		<a th:href="@{/Dispositivo/Cadastrar/{cdResidencia} (cdResidencia= ${cdResidencia})}">
			<button type="button">Adicionar</button>
		</a>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/DetalhesResidenciaInitElements.js"></script>
    <script src="/js/DetalhesResidenciaConsumoMedioAnual.js"></script>
    <script src="/js/DetalhesResidenciaConsumoTotalPorDispositivo.js"></script>
</html>