<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/responsive.css">
        <title>Lumiere</title>
    </head>
	
    <body>
        <h1>Listar Residência (s)</h1>
		
		<center>
			<div th:each="r, interation: ${residenciasUsuario}">
				<img th:src="${r.getIconeResidencia().getUrlIcone()}" th:id="${r.getIconeResidencia().getId()}" name="iconePerfil" height="70px" width="70px">
				
				<hr>
				<h2 th:text="${r.getNomeResidencia()}"></h2>
				<p th:text="${r.getRegistroResidencia()}"></p>
				<hr>
				
				<p th:text="${r.getEstado().getNomeEstado()}"></p>
				
				<a th:href="@{./Detalhes/{cdResidencia} (cdResidencia=${r.getId()})}">
					<input type="button" value="Entrar">
				</a>
				
				<br>
				<br>
			</div>
			<div th:if="${botaoAdicionarResidencia == true}">
				<a href="/Residencia/Cadastrar">
					<input type="button" value="Adicionar residência">
				</a>
			</div>
			<div th:if="${botaoAdicionarResidencia == false}">
				<a href="/Residencia/Todas">
					<input type="button" value="Listar residências">
				</a>
			</div>
		</center>

		
    </body>
</html>