<!--
	nome 
	registro
	cidade
-->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/responsive.css">
        <title>Lumiere</title>
    </head>
	
    <body>
        <h1>Listar Residência (s)</h1>
		
		<center>
			<div th:each="r: ${residenciasUsuario}">
				<img th:src="${r.getIconeResidencia().getUrlIcone()}" th:id="${r.getIconeResidencia().getId()}" name="iconePerfil" height="70px" width="70px">
				<hr>
				<h2 th:text="${r.getNomeResidencia()}"></h2>
				<p th:text="${r.getRegistroResidencia()}"></p>
				<hr>
				<p th:text="${r.getEstado().getNomeEstado()}"></p>
				<br>
			</div>
		</center>

		
    </body>
</html>