<!--
	nome 
	registro
	cidade
-->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/responsive.css">
        <link rel="stylesheet" href="../css/cadastrar_residencia.css">
        <title>Lumiere</title>
    </head>
	
    <body>
        <h1>Listar Residência (s)</h1>
        
        <tr th:each="i : ${iconesResidencia}">
			<img th:src="${i.urlIcone}" th:id="${i.id}" name="iconePerfil" height="70px" width="70px">
		</tr>
		
		<tr th:each="j : ${nomesResidencia}">
			<td th:text=${j.nomeResidencia}>nome da residencia</td>
		</tr>
		
    </body>
    <script src="../js/CadastrarResidencia.js"></script>
</html>