<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/addresidencia.css">
        <link rel="stylesheet" href="../css/responsive_addresidencia.css">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Urbanist&display=swap" rel="stylesheet">
        <title>Lumiere</title>
    </head>

    <body>

        <h1 class="h1">Bem vindo, XXXXXX!</h1>

        <div>
            <img src="../img/PNG logo e logotipo/logo l direita.png" class="logo-fundo-direita">
        </div>

        <div>
            <img src="../img/PNG logo e logotipo/logo l esquerda.png" class="logo-fundo-esquerda">
        </div>

        <div>
            <a href="../views/config_residencia.html">
                <img src="../img/AddResidencia/iconcirculo.png" class="icon-circulo">
            </a>
        </div>

        <div>
            <a href="../views/config_residencia.html">
                <img src="../img/AddResidencia/iconmais.png" class="icon-mais">
            </a>
        </div>

        <p class="adicionar">Adicionar residência</p>
        
    </body>
</html>