<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/cadastro.css">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Urbanist&display=swap" rel="stylesheet">
        <title>Lumiere</title>
    </head>

    <body>

        <h1 class="h1">Vamos iniciar sua experiência com o Lumiere</h1>

        <div>
            <img src="../img/Cadastrar/logo cadastro.png" class="logo-fundo">
        </div>
    
        <div class="container">
            <div>
                <form>
                    <input type="text" name="nome" id="nome">
                    <label for="nome" class="nome">Nome completo*</label>

                    <input type="text" name="usuario" id="usuario">
                    <label for="usuario" class="usuario">Usuário*</label>

                    <input type="text" name="email" id="email">
                    <label for="email" class="email">Email*</label>

                    <input type="text" name="senha" id="senha">
                    <label for="senha" class="senha">Senha*</label>

                    <input type="text" name="confirma-senha" id="confirma-senha">
                    <label for="confirma-senha" class="confirma-senha">Confirme sua senha*</label>

                    <img src="../img/Cadastrar/maocinha.png" class="alvo">

                    <input type="checkbox" id="termos">
                    <label for="termos" class="ok-1">Li e estou de acordo com as <span class="span">termos e condições.</span>*</label>

                    <input type="checkbox" id="notif-email">
                    <label for="notif-email" class="ok-2">Gostaria receber atualizações  por e-mail! (opcional)</label>

                    <input type="submit" id="submit" value="Cadastrar">
                    <label for="submit"></label>

                    <p class="obrigatorio">(*) itens obrigatórios.</p>
                </form>
            </div>
        </div>
    </body>
</html>