<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/config_residencia.css">
        <link rel="stylesheet" href="../css/responsive_config_residencia.css">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Urbanist&display=swap" rel="stylesheet">
        <title>Lumiere</title>
    </head>

    <body>
        <img src="../img/PNG logo e logotipo/logo l esquerda.png" class="logo-esquerda">
        <img src="../img/PNG logo e logotipo/logo l direita.png" class="logo-direita">
        <h1 class="h1">Preencha os dados abaixo</h1>
        <p class="texto-1">Para ter gerenciamentos precisos !</p>

        <div class="container">
            <form>
                <input type="text" name="nome" id="nome">
                <label for="nome" class="nome">Apelido da residência*</label>

                <input type="text" name="numero" id="numero">
                <label for="numero" class="numero">Número do registro* &#8859;</label>

                <input type="text" name="cep" id="cep">
                <label for="cep" class="cep">CEP*</label>
            </form>
        </div>

        <div>
            <h2 class="h2">Vamos Personalizar seu lar?</h2>
            <p class="texto-2">escolha um icone!</p>

            <img src="../img/Icones/coração icone.png" class="coracao">
            <img src="../img/Icones/predio icone.png" class="predio">
            <img src="../img/Icones/porquin icone.png" class="porquin">
            <img src="../img/Icones/indo ali icon.png" class="willy">
            <img src="../img/Icones/gatinho icone.png" class="gatinho">
            <img src="../img/Icones/dog icone.png" class="doge">

            <img src="../img/Icones/save.png" class="save">

            <input type="submit" id="submit" value="Salvar"> 
            <label for="submit"></label>
        </div>
    </body>
</html>