<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/funcionalidades.css">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Urbanist&display=swap" rel="stylesheet">
        <title>Lumiere</title>
    </head>

    <body>
        <a href="../views/posresidencia.html">
            <i class="fa-solid fa-arrow-left fa-xl"></i>
        </a>
        <h1>Aqui você encontra seus relatórios de controle!</h1>
        <p class="texto-1">Selecione a periodicidade desejada e mergulhe nas informações que o ajudarão a tomar 
            decisões mais conscientes e sustentáveis.
        </p>

        <div class="container-1">
            <div class="container-2">
                <h2>Relatório <span class="amarelo">semanal<span></h2>
                <p class="texto-2">Acompanhe de perto o seu consumo de energia ao longo da semana. Identifique 
                    padrões, otimize o uso e mantenha o controle.
                </p>
                <a href="">
                    <button type="button" class="button-1">Ver</button>
                </a>
            </div>

            <div class="container-3">
                <h3>Relatório <span class="amarelo">mensal</span></h3>
                <p class="texto-3">Obtenha insights mensais sobre seu consumo de energia. Analise tendências, 
                    estabeleça metas e tome decisões informadas para uma gestão mais eficiente.
                </p>
                <a href="">
                    <button type="button" class="button-1">Ver</button>
                </a>
            </div>

            <div class="container-4">
                <h4>Relatório <span class="amarelo">anual</span></h4>
                <p class="texto-4">Planeje o futuro com o relatório anual de consumo. Visualize o desempenho ao longo do ano, 
                    identifique áreas de melhoria e promova uma utilização sustentável de energia.
                </p>
                <a href="">
                    <button type="button" class="button-1">Ver</button>
                </a>
            </div>
        </div>
    </body>
</html> 