<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../css/responsive_home.css">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Urbanist&display=swap" rel="stylesheet">
        <title>Lumiere</title>
    </head>

    <body>
        <div id ="header">
            <div class="botao">
                <nav>
                    <a href="../views/login.html" class="btn-entrar">Entrar</a>
                </nav>
            </div>
        </div>

        <div>
            <img src="../img/Landing page/lampada folha 3d.png" class="lamp">
            <img src="../img/Landing page/estrela 3d.png" class="estrela">
            <img src="../img/PNG logo e logotipo/logotipo L branca.png" class="logo-horizontal">
            <p class="intro"> Empresa com soluções de otimização do uso de energia para tornar sua vida mais 
            eficiente e sustentável. Explore as possibilidades do futuro da tecnologia conosco!</p>
            <img src="../img/Landing page/estrela 3d.png" class="estrela-1">
            <img src="../img/Landing page/estrela 3d.png" class="estrela-2">
            <img src="../img/Landing page/estrela 3d.png" class="estrela-3">
            <p class="nos">Nos conheça</p>
        </div>
        
    </body>
</html>