<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/posresidencia.css">
        <link rel="stylesheet" href="../css/responsive_posresidencia.css">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Urbanist&display=swap" rel="stylesheet">
        <title>Lumiere</title>
    </head>

    <body>
        <div class="container">
            <div class="elipse">
                <img src="../img/PNG logo e logotipo/logo L branca.png" class="logo">
            </div>     
        </div>

        <div class="container-1">
            <p class="texto-1"> kWh atual em SP:</p>
            <p class="texto-2"><b>R$ XXXX</b></p>
        </div>

        <div>
            <h1 class="h1">Olá, XXXXX!</h1>
            <h2 class="h2">O que há de novo?</h2>
            <div class="img-perfil"></div>
        </div>

        <div class="container-2">
            <p class="texto-3">Consumo aproximado da sua fatura atual:</p>
            <img src="../img/residencia/conta.png" class="conta">
            <h3 class="h3"><b>R$XXXX</b></h3>
        </div>  

        <div class="container-3">
            <p class="texto-4">Você gasta em média</p>
            <img src="../img/residencia/dinero.png" class="dinheiro">
            <p class="texto-5"><b>R$XXXX</b></p>
            <p class="texto-6">por dia</p>
        </div>















        

        <footer>
            <p class="texto-7">Nos conheça nas redes!</p>
            <img src="../img/Footer/GitHub 3d.png" class="github">
            <img src="../img/Footer/Linkedin 3d.png" class="linkedin">
            <p class="texto-8">termos e condições</p>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="10%" height="225" viewBox="0 0 225 225" fill="none">
                    <g filter="url(#filter0_i_227_18)">
                    <circle cx="112.5" cy="112.5" r="112.5" fill="#00153F"/>
                    </g>
                    <circle cx="112.5" cy="112.5" r="112" stroke="black" stroke-opacity="0.07"/>
                    <defs>
                    <filter id="filter0_i_227_18" x="0" y="0" width="229" height="229" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="20" dy="7"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow_227_18"/>
                    </filter>
                    </defs>
                </svg>
                <img src="../img/PNG logo e logotipo/logo L branca.png" class="logo-footer">
            </div>
            <p class="texto-9">Encontrou algum problema?</p>
            <p class="texto-10">Nos contate pelo Email!</p>
            <p class="texto-11">Lumiere1234@gmail.com</p>
        </footer>
    </body>
</html>