* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 4000px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #052769 26.12%, #092C73 31.15%, #18409D 41.04%, #2A45BB 51.02%, #5652BA 60.51%, #5652BA 60.52%, #8760B9 70.51%, #8760B9 72.26%, #8760B9 74.28%, #7F47DD 80.36%, #4E00CE 84.52%, #24189A 87.25%, #002C6D 90.53%);
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #052769; 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#052769; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5E20E2; 
  }

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.botao {
    position: relative;
    display:block;
    width: 8%;
    height: 56.36px;
    top: 50px;
    left: 1150px;
    border-radius: 5px;
}

.btn-entrar {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lamp {
    position: absolute;
    width: 15%;
    height: 220.829px;
    transform: rotate(-14.01deg);
    flex-shrink: 0;
    top: 30px;
    left: 150px;
}

.estrela {
    position: absolute;
    width: 20%;
    height: 350px;
    flex-shrink: 0;
    top: 150px;
    left: 1000px;

    filter: blur(6.5px);
}

.logo-horizontal {
    position: absolute;
    width: 30%;
    height: 96px;
    flex-shrink: 0;
    top: 205px;
    left: 460px;
}

.intro {
    position: absolute;
    width: 40%;
    height: 90px;
    flex-shrink: 0;
    top: 330px;
    left: 385px;

    color: #FFF;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.estrela-1 {
    position: absolute;
    width: 10%;
    height: 129.359px;
    transform: rotate(-66.706deg);
    flex-shrink: 0;
    filter: blur(2px);
    top: 380px;
    left: 200px;
}

.estrela-2 {
    position: absolute;
    width: 6%;
    height: 80.396px;
    transform: rotate(-41.464deg);
    filter: blur(2px);
    flex-shrink: 0;
    top: 450px;
    left: 130px;
}

.estrela-3 {
    position: absolute;
    width: 5%;
    height: 60.233px;
    transform: rotate(-41.464deg);
    filter: blur(2px);
    flex-shrink: 0;

    top: 520px;
    left: 200px;
}

.nos {
    position: absolute;
    width: 50%;
    height: 37px;
    top: 500px;
    left: 320px;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fa-solid.fa-chevron-down {
    position: absolute;
    top: 540px;
    left: 650px;
}

.arrow {
    position: absolute;
    width: 160px;
    height: 119px;
    flex-shrink: 0;

    top: 470px;
    left: 325px;
}

.fa-chevron-down {
    position: absolute;
    width: 116px;
    height: 119.222px;
    top: 20px;
    left: 80px;

    flex-shrink: 0;
    color: #FFF;
}  

h1 {
    position: absolute;
    top: 800px;
    left: 75px;

    color: #FFF;
    font-family: 'Lexend Exa', sans-serif;
    width: 70%;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto-1 {
    position: absolute;
    top: 860px;
    width: 40%;
    height: 263px;
    left: 80px;
    flex-shrink: 0;

    color: #D2D2D2;
    text-align:left;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mao-celular {
    position: absolute;
    width: 45%;
    height: 500.724px;

    top: 640px;
    left: 640px;
}

.lampada {
    position: absolute;
    top: 1100px;
    width: 20%;
    height: 250px;
    transform: rotate(-38.663deg);
    flex-shrink: 0;
    filter: blur(2.6740336418151855px);
}

.carteira {
    position: absolute;
    top: 1300px;
    left: 1000px;
    width: 20%;
    height: 190px;
    transform: rotate(-176.527deg);
    flex-shrink: 0;
    filter: blur(4px);
}

h2 {
    position: absolute;
    top: 1550px;
    left: -140px;
    width: 70%;
    color: #FFF;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%;
}

.mao-dinheiro {
    position: absolute;
    top: 1500px;
    left: 480px;
    width: 30%;
    height: 410px;
    flex-shrink: 0;
}

h3 {
    position: absolute;
    top: 1660px;
    left: 830px;
    width: 30%;
    color: #FFF;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%; 
}

.texto-2 {
    position: absolute;
    top: 1890px;
    width: 70%;
    left: 190px;
    color: #D9D9D9;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto-3 {
    position: absolute;
    top: 1960px;
    width: 70%;
    left: 190px;
    color: #D9D9D9;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto-4 {
    position: absolute;
    top: 2040px;
    width: 70%;
    left: 190px;
    color: #D9D9D9;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.porco-direito {
    position: absolute;
    top: 2200px;
    width: 15%;
    height: 340px;
    left: 85%;
    flex-shrink: 0;
    filter: blur(4px);
}

.porco-esquerdo {
    position: absolute;
    top: 2200px;
    width: 15%;
    height: 340px;
    
    flex-shrink: 0;
    filter: blur(4px);
}

h4 {
    position: absolute;
    top: 2650px;
    width: 80%;
    left: 130px;
    color: #FFF;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%; 
}

h5 {
    position: absolute;
    top: 2700px;
    width: 49%;
    left: 670px;
    color: #FFF;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%; 
}

.dados {
    color: #F2BF27;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%;
}

.info {
    color: #F2BF27;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%;
}

.texto-5 {
    position: absolute;
    top: 2840px;
    width: 30%;
    left: 100px;
    color: #FFF;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%; 
}

.grafico {
    position: absolute;
    left: 330px;
    top: 2840px;
    width: 50%;
    height: 500px;
    flex-shrink: 0;
}

.texto-6 {
    position: absolute;
    top: 3200px;
    width: 30%;
    left: 850px;
    color: #FFF;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%;
}

.fone {
    position: absolute;
    top: 3250px;
    left: 50px;
    width: 15%;
    height: 150px;
    transform: rotate(-24.875deg);
    flex-shrink: 0;
    filter: blur(4px);
}

.sino {
    position: absolute;
    width: 30%;
    height: 400px;
    top: 3400px;
    left: 500px;
    flex-shrink: 0;
}

.joia {
    position: absolute;
    top: 3560px;
    width: 20%;
    left: -2%;
    height: 200px;
    flex-shrink: 0;
}

h6 {
    position: absolute;
    top: 3730px;
    width: 50%;
    left: 500px;
    color: #FFF;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h7 {
    position: absolute;
    width: 40%;
    height: 152px;
    top: 3790px;
    left: 420px;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cadastro {
    position: absolute;
    text-decoration: none;
    top: 3880px;
    width: 15%;
    height: 60px;
    left: 595px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    cursor: pointer;
    border-color: #FFF;

    color: #002C6D;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    position: absolute;
    top: 4000px;
    width: 100%;
    height: 45%;
    flex-shrink: 0;
    background: #00153F;
    box-shadow: -14px 14px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.texto-7 {
    position: absolute;
    top: 60px;
    left: 80px;
    width: 30%;
    color: #FFF;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%; 
}

.github {
    position: absolute;
    left: 170px;
    top: 95px;
    width: 7%;
    height: 80px;
    flex-shrink: 0;
}

.linkedin {
    position: absolute;
    top: 100px;
    left: 290px;
    width: 6%;
    height: 70px;
    flex-shrink: 0;
}

.texto-8 {
    position: absolute;
    top: 195px;
    left: 150px;
    width: 248px;
    height: 25px;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%; 
    text-decoration-line: underline;
}

svg {
    position: absolute;
    top: 45px;
    left: 550px;
    width: 15%;
    height: 200px;
    flex-shrink: 0;
}

.logo-footer {
    position: absolute;
    top: 70px;
    left: 565px;
    width: 170px;
    height: 170px;
    flex-shrink: 0;
}

.texto-9 {
    position: absolute;
    top: 60px;
    left: 850px;
    color: #FFF;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%; 
}

.texto-10 {
    position: absolute;
    top: 120px;
    left: 875px;
    color: #FFA318;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%; 
}

.texto-11 {
    position: absolute;
    top: 175px;
    left: 890px;
    color: #FFF;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%; 
}


/*
fontes:

font-family: 'Lexend Exa', sans-serif;
font-family: 'Urbanist', sans-serif;
*/